<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<!-- 
		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="connection.url">jdbc:sqlserver://localhost:1433;databaseName=uac</property>
		 -->
		<property name="connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
		<property name="connection.url">jdbc:jtds:sqlserver://localhost:1433/uac</property>
		<property name="connection.username">sam</property>
		<property name="connection.password">1234</property>
		
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
		
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
		
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">create</property>
		
		<mapping class="com.maventree.entities.business_logic.user_access.Group"/>
		<mapping class="com.maventree.entities.business_logic.user_access.User"/>
		<mapping class="com.maventree.entities.business_logic.user_access.Role"/>
		<mapping class="com.maventree.entities.business_logic.user_access.Privilege"/>
		
	</session-factory>
</hibernate-configuration>